@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    transition: 1s;
    /* border: 1px solid red; */
}

body {
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: none;
    margin: 0;
    font-size: 18px
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 300px;
    height: 92%;
    margin-bottom: 0;
}

.container>img {
    height: inherit;
    pointer-events: none;
    margin-bottom: 0;
}

.right_side {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: inherit;
    height: inherit;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 0;
}

form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px 50px;
    max-width: 65%;
    padding: 10px;
    margin-top: -150px;
}

label {
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: -5px;
}

input {
    font-family: 'Space Grotesk', sans-serif;
    align-self: center;
    padding: 10px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 85%;
}

form>button {
    font-family: 'Space Grotesk', sans-serif;
    background-color: hsl(278, 68%, 11%);
    border: 1px solid hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 5px;
    max-width: 93%;
    margin-top: 20px;
}

input ::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(279, 6%, 55%);
}

input ::-moz-placeholder {
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(279, 6%, 55%);
}

.grouped {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.exp_dates>div {
    display: grid;
    grid-template-columns: auto auto;
}


.exp_dates>div>input {
    margin-top: 5px;
    width: 50%;
}

.cvc {
    display: grid;
    grid-template-rows: auto auto;
}

.cvc>input {
    max-width: 75%;
    margin-top: 10px;
}


.on_top {
    left: 12%;
    top: 20%;
    width: fit-content;
    height: 30%;
    position: absolute;
}

.card_front{
    display: grid;
    grid-template-rows: auto auto;
    align-content: space-between;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 10px;
    width: 100%;
    background-image: url("./images/bg-card-front.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 90%;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 30px;
}
.card_front>div>p{
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.3rem;
    margin-bottom: 10px;
}
.card_front>div>div {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 150px;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card_back{
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url("./images/bg-card-back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 105%;
    height: 100%;
    margin-left: 75px;
}

.card_back>p {
    letter-spacing: 2px;
    margin-left: 330%;
    color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk', sans-serif;
}

.attribution {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}