@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* for desktop mode */
* {
    transition: 1s;
}

body {
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: none;
    margin: 0;
    font-size: 18px
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 300px;
    height: 92%;
    margin-bottom: 0;
}

.container>figure>img {
    height: inherit;
    pointer-events: none;
    margin-bottom: 0;
}

.right_side {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: inherit;
    height: inherit;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 0;
}

.forms {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px 50px;
    max-width: 65%;
    padding: 10px;
    margin-top: -160px;
}

label {
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: -5px;
}

.input_div1 {
    width: 95%;
}

.inp>input {
    text-transform: capitalize;
}

.inp>input::placeholder {
    text-transform: none;
}

.input_div1>p {
    display: none;
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(0, 100%, 66%);
    font-size: 13px;
    margin-top: -2px;
    width: 100%;
    font-weight: 500;
}

.input_div2 {
    width: 80%;
}

.input_div2>p {
    display: none;
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(0, 100%, 66%);
    font-size: 10px;
    margin-top: 2px;
    width: 105%;
    font-weight: 500;
}

.input_div3 {
    width: 90%;
}

.input_div3>p {
    display: none;
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(0, 100%, 66%);
    font-size: 13px;
    margin-top: -2px;
    width: 100%;
    font-weight: 500;
}

input {
    font-family: 'Space Grotesk', sans-serif;
    align-self: center;
    padding: 10px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 0;
    width: inherit;
}

.input_div1>input {
    width: inherit;
}

input:focus {
    border: 1px solid hsl(249, 99%, 64%);
    outline: 1px solid hsl(249, 99%, 64%);
}

input ::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(279, 6%, 55%);
}

input ::-moz-placeholder {
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(279, 6%, 55%);
}

.forms>a {
    max-width: 99%;
}

.forms>a>button {
    font-family: 'Space Grotesk', sans-serif;
    background-color: hsl(278, 68%, 11%);
    border: 1px solid hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: inherit;
    margin-top: 10px;
    cursor: pointer;
}

.grouped {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.exp_dates>div {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1px;
}

.exp_dates>div>div>input {
    margin-top: 5px;
    width: inherit;
}

.cvc {
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 10px;
}

.cvc>div>input {
    width: inherit;
    margin-top: 10px;
}


.on_top {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
    left: 12%;
    top: 20%;
    width: fit-content;
    height: 30%;
    position: absolute;
}

.card_front {
    grid-row: 1/1;
    display: grid;
    grid-template-rows: auto auto;
    align-content: space-between;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 10px;
    background-image: url("../images/bg-card-front.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 90%;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 30px;
}

#ellipse2 {
    display: none;
}

#path2 {
    display: none;
}

.card_front>div>p {
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.3rem;
    margin-bottom: 10px;
}

.card_front>div>div {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 105px;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card_back {
    grid-row: 2/2;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url("../images/bg-card-back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 110%;
    height: 340%;
    margin-left: 75px;
}

.card_back>p {
    letter-spacing: 2px;
    margin-left: 350%;
    color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk', sans-serif;
}

.attribution {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container2 {
    display: grid;
    grid-template-columns: auto auto;
    height: 92%;
    margin-bottom: 0;
}

.container2>figure>img {
    height: inherit;
    pointer-events: none;
    margin-bottom: 0;
}

.right_side2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: inherit;
    height: inherit;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 0;
    margin-left: -120px;
}

.right_side2>div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    align-self: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-top: -200px;
}

.right_side2>div>svg {
    margin-left: 120px;
}

.right_side2>div>h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(278, 68%, 11%);
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 25px;
}

.right_side2>div>p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(279, 6%, 55%);
    margin-top: -10px;
    padding-left: 60px;
    padding-right: 60px;
}

.right_side2>div>button {
    font-family: 'Space Grotesk', sans-serif;
    background-color: hsl(278, 68%, 11%);
    border: 1px solid hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

/* end of desktop mode */

/* for mobile desktop site mode */
@media only screen and (max-width: 1200px) {
    .container {
        grid-column-gap: 350px;
    }

    .container>figure>img {
        width: 150%;
        height: 100%;
    }

    .on_top {
        left: 15%;
        top: 6%;
        padding-right: 80px;
        max-height: 16%;
    }

    .forms {
        max-width: 80%;
        margin-top: -50px;
    }

    .input_div2>p {
        font-size: 9.2px;
    }

    .card_front {
        max-width: 90%;
        max-height: 80%;
        margin-bottom: 10px;
    }

    .card_front>div>p {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.4rem;
    }

    .card_front>div>div {
        font-size: 9px;
    }

    .card_back {
        max-width: 100%;
        max-height: 250%;
        margin-top: -10px;
    }

    .card_back>p {
        margin-left: 280%;
    }

    .attribution {
        margin-top: 10px;
    }

    .container2>figure>img {
        width: 73%;
        height: 100%;
    }

    .right_side2 {
        margin-left: 10px;
    }

    .right_side2>div {
        margin-top: -5px;
    }
    
}

/* end of mobile desktop site mode */

/* for mobile normal screen */
@media only screen and (max-width: 400px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-column-gap: 0;
    }

    .container>figure>img {
        width: 100%;
        height: 32%;
    }

    .right_side {
        justify-content: start;
        align-content: start;
        margin-top: -420px;
        font-size: 13px;
        max-width: 100%;
        height: auto;
    }

    .forms {
        justify-content: start;
        align-content: start;
        max-width: 90%;
        margin-top: 10px;
    }

    label {
        font-size: 13px;
    }

    input {
        max-width: 100%;
        font-size: 13px;
    }

    .forms>a {
        max-width: 150%;
    }

    .forms>a>button {
        width: 104%;
        font-size: 15px;
    }

    .exp_dates>div {
        grid-column-gap: 0px;
    }

    .exp_dates>div>input {
        max-width: 55%;
    }

    .cvc {
        margin-right: -30px;
    }

    .input_div1 {
        width: 98%;
    }

    .input_div2>p {
        font-size: 9.2px;
        width: 100%;
        position: static;
    }

    .input_div3 {
        width: 85%;
    }

    .on_top {
        left: 2%;
        top: 3%;
        width: 95%;
        max-height: 36%;
        min-width: 36%;
        display: grid;
        grid-template-rows: auto auto;
        padding-right: 0;
    }

    #ellipse1 {
        display: none;
    }

    #ellipse2 {
        display: block;
    }

    #path1 {
        display: none;
    }

    #path2 {
        display: block;
    }

    .card_front {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 10px;
        max-width: 72%;
        max-height: 85%;
        grid-row: 2/2;
        margin-top: -15px;
        margin-left: 5px;
    }

    .card_front>div>p {
        font-size: 17px;
        letter-spacing: 0.13rem;
        font-weight: 600;
    }

    .card_front>div>div {
        font-size: 7px;
        grid-column-gap: 100px;
        margin-bottom: 25px;
    }

    .card_front>div>div>p:first-child {
        width: 100%;
    }

    .card_back {
        max-width: 79%;
        max-height: 180%;
        margin-top: 15px;
        margin-left: 65px;
        grid-row: 1/1;
    }

    .card_back>p {
        font-size: 11px;
        margin-left: 190px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5px;
    }

    .card_front::before .card_back {
        display: block;
    }

    .attribution {
        margin-top: 5px;
        font-size: 10px;
    }

    .container2 {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-column-gap: 0;
    }

    .container2>figure>img {
        width: 100%;
        height: 32%;
    }

    .right_side2 {
        margin-top: -280px;
        margin-left: -20px;
    }

    .right_side2>div>p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .right_side2>div>svg {
        margin-left: 115px;
    }
}

/* end of mobile desktop site mode */